.banner-faq {
  width: 100%;
  height: 100%;
  background-image: url("/images/faq-bg.svg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .banner-faq {
    background-image: url("/images/faq-bg-mobile.svg");
    height: 30vh;
  }
}
