.teste{
    background-color: rgba(185, 38, 38, 0);
}

.bpq{
    width: 100%;
    height: 100px;
    background-color: rgba(16, 125, 221, 0);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3.5%; 
}

.imoveis-search-bar{
    width: 48%;
    height: 43px;
    background-color: #EEF0F9;
    border-radius: 28px ;
    color: #304383;
}

.imoveis-search-bar .ant-input, .imoveis-search-bar .ant-btn {
    border-radius: 1000px ;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: #304383 !important;
    height: 42px
} 
.imoveis-search-bar .ant-input-group-addon{
  display: none;
}

.imoveis-search-bar .ant-btn{
    border-left: none;
}

.imoveis-search-bar .ant-btn:hover{
    background-color: transparent !important;
    color: #304383 !important;
    border: 2px solid white !important;
    border-left: none !important;
}

.imoveis-search-bar .ant-input{
    border-right: none;
}

.imoveis-search-bar .ant-input:focus{
    box-shadow: none !important;
    border-color: white !important;
}

.imoveis-search-bar .ant-input::placeholder {
    color: #304383 !important;
}

/*=-=-=-=-=-*/

/* Container do carrossel */
.imoveis-carousel {
  position: relative;
  width: 100%;
}

/* Cada slide */
.imoveis-carousel .swiper-slide {
  display: flex;
  justify-content: center;
}

/* Card do slide */
.imoveis-carousel .slide-card {
  overflow: hidden;
  width: 100%;
}

/* Botões de navegação */
.imoveis-carousel .custom-next {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  z-index: 20;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Botão direito */
.imoveis-carousel .custom-next {
  right: 30;
  background-color: #EEF0F9;
  width: 65px;
  height: 65px;
  border-radius: 5cap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inv {
  display: none;
}

.carousel-img{
  width: 100%;
  height: 520px;
}

/*=-=-=-=-=-=-=-=-=-=-*/

.todo{
  width: 100%;
  height: 380px;
  background-color: rgba(255, 166, 0, 0);
  display: flex;
  justify-content: space-between;
}

.descricao{
  width: 65%;
  height: 319px;
  background-color: #EEF0F9;
  border-bottom-right-radius: 5cap;
}

.Dtexto{
  width: 100%;
  height: 190px;
  background-color: #e4ff8200;
  color: #304383;
  padding-left: 3%;
  padding-top: 3.5%;
  font-weight:bolder;
}
.t1 {
  display: flex;
  background-color: #00000000;
  display: flex;
  align-items: center;
}

.t1 p{
  font-size: 33px;
}

.T1ponto{
  padding-left: 20px;
  padding-right: 20px;
}

.t2{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  background-color: #ffffff00;
  padding-top: 2%;
}

.t2 p{
  font-size: 27px;
  padding-top: 0.8%;
  padding-right: 2%;
  padding-left: 2%;
}

.icon_p{
  width: 27px !important;
  height: 27px !important;
}

.icon_b{
  width: 27px !important;
  height: 27px !important;
  margin-left: 5%;
}

.Dtexto p {
  padding-bottom: 5px;
}

.Gimovel{
   font-size: 20px;
   padding-top: 5%;
   font-weight: lighter;
}

.Dbotoes{
  width: 100%;
  height: 37%;
  background-color: #58f56d00;
  color: #304383;
  font-size: 17px;
  font-weight: lighter;
  display: flex;
  align-items: end;
}

.btn1{
  background-color: #304383;
  width: 23%;
  height: 60px;
  border-radius: 5cap;
  color: white;
  margin-bottom: 2%;
  margin-left: 2.8%;
  cursor: pointer;
}

.Dbotoes button{
  margin-right: 1.7%;
}

.btn2{
  background-color: #EEF0F9;
  width: 23%;
  height: 60px;
  border-radius: 5cap;
  border-color: #304383;
  border-width: 0.2cap;
  margin-bottom: 2%;
  cursor: pointer;
}

.valor{
  width: 35%;
  height: 319px;
  background-color: rgba(179, 255, 0, 0);
  display: flex;
  flex-direction: column;
}

.Ivalor{
  width: 100%;
  height: 50%;
  color: #304383;
  padding-left: 10%;
  padding-top: 5%;
}

.Ivalor p{
  padding-bottom: 3%;
}

.Vtxt{
  font-size: 18px;
}

.preco{
  font-size: 30px !important;
  font-weight: bolder;
}

.share {
  width: 50%;
  height: 15%;
  display: flex;
  align-items: center;
  background-color: #47969600;
  padding-left: 10%;
  padding-bottom: 4%;
  font-size: 16px;
}

.a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px; 
  text-decoration: none;
  color: #304383;
  background-color: #7a90f100;
}

.icon_comp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #EEF0F9;
  border-radius: 1000px;
}

.SimComp_botao{
  background-color: #304383;
  width: 80%;
  height: 60px;
  border-radius: 5cap;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  cursor: pointer;
}

.Ibotao{
  width: 100%;
  height: 30%;
  background-color: #7a90f100;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3%;
}

/*=-=-=-=-=-=*/

.todo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 255, 255, 0);
  margin-top: 5%;
  padding: 0 2%;
  gap: 0.5%
}

.map_loc {
  flex: 0 0 31.5%;
  height: 100%;
  background-color: #30438300;
}

.ir_loc{
  background-color: #ffffff;
  width: 26.5%;
  height: 96px;
  z-index: 1;
  position: absolute;
  margin-left: 1.5%;
  margin-top: 0.7%;
  border-color: #8794BE;
  border-width: 1px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.ir_loc_txt {
  width: 80%;
  height: 55px;
  font-size: 22px;
  color: black;
  display: block;
  text-align: left;
  background-color: #30438300;
}

.p2{
  padding-top: 6px;
  font-size: 16px;
}

.icon_setaD{
  width: 15.32px;
  height: 17.28px;
}

.mapa-pequeno {
  width: 100%;
  height: 306px;
  border-radius: 1.3cap;
  z-index: 0;
}

.map_desc {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgba(3, 40, 73, 0);
  font-size: 18px;
  margin-right: 2%;
  margin-left: 2%;
  color:#304383
}

.map_desc h2 {
  font-weight: bold;
  font-size: 22px !important;
  color: #304383;
}

.map_desc p {
  margin: 0;
  font-size: 18px;
}

.btn-ver-mais {
  width: 12%;
  height: 22px;
  color: #304383;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  background-color: #0aeb4200;
  margin-left: 40%;

}

.setaVmais{
  margin-right: 10px;
}

.btn-ver-mais p{
  color: #304383;
}

.btn-ver-mais Image {
  object-fit: contain;
}

.linha-divisoria {
  border: none;
  height: 2px;
  background-color: #D7D7D7;
  width: 100%;
  margin: 40px 0; 
}




.descricao-reduzida {
  display: -webkit-box;
  -webkit-line-clamp: 9; /* número de linhas visíveis */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.descricao-expandida {
  display: block;
}

