.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: visible; /* permite que o card flutuante apareça acima do mapa */
}

/* Container fixo no canto direito */
.map-controls {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* O card */
.hover-card {
  position: absolute;
  transform: translate(-50%, -100%);
  background-color: #fff;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  pointer-events: none;
  width: 290px;
  height: 230px;
  border-radius: 1cap;
}

.card-text{
  font-size: 14;
}

.card-preco{
  font-weight: bold;
  font-size: 17
}

/* Imagem do card */
.hover-card img{
  width: 100%;
  height: 150px;
}

/* Setinha pra baixo no card */
.hover-card::after {
  content: "";
  position: absolute;
  bottom: -10px; /* distância abaixo do card */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid white;
}

/* Wrapper do botão de localização */
.location-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botão de localização */
.locate-button {
  background-color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.locate-button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.icone-localizacao {
  width: 100%;
  height: 90%;
}

.zoom-button-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  line-height: 0;
}

/* Botões internos do zoom*/
.zoom-in,
.zoom-out {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 23px;
  width: 45px;
  height: 37px;
  font-weight: bold;
  border: none;
  outline: none;           
  box-shadow: none;     
  margin: 0;
  padding: 0;
  display: block;
  line-height: 1;
}

/* Bordas arredondadas nos cantos externos */
.zoom-in {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.zoom-out {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Remove espaço entre os botões do zoom */
.zoom-button-wrapper button + button {
  margin-top: -1px;
}

@media (max-width: 600px), (max-height: 600px) {
/* Wrapper do botão de localização */
.location-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botão de localização */
.locate-button {
  background-color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.locate-button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.icone-localizacao {
  width: 100%;
  height: 90%;
}

.zoom-button-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  line-height: 0;
}

/* Botões internos do zoom*/
.zoom-in,
.zoom-out {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 23px;
  width: 45px;
  height: 37px;
  font-weight: bold;
  border: none;
  outline: none;           
  box-shadow: none;     
  margin: 0;
  padding: 0;
  display: block;
  line-height: 1;
}

/* Bordas arredondadas nos cantos externos */
.zoom-in {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.zoom-out {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Remove espaço entre os botões do zoom*/
.zoom-button-wrapper button + button {
  margin-top: -1px;
}
}

.cards-carrossel {
  width:calc(100vw - 400px)
}

.button-text{
  font-family: 'Glacial Indifference';
  font-size: 1.2rem;
  font-weight: 700;
}
.menu-label {
  font-family: 'Glacial Indifference';
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--background);
}

.nav-mapa-link{
  color: var(--primary);
  font-weight: 500;
  font-size: 18px;
}

.btn-login-map{
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: white;
  height: 40px;
}

.btn-login-map:hover{
  background-color: white !important;
  color: var(--primary) !important;
  border: 2px solid var(--primary) !important;
}

.navbar-mapa-desktop{
  display: flex;
}

.navbar-mapa-mobile{
  display: none;
}

@media (max-width: 768px) {
  .cards-carrossel {
    width: 100%
  }
}

