.image-header {
  background-image: url("/images/fundo-login-mobile.svg");
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 50vh;
}

.login-content {
  padding-left: 58px;
  padding-right: 58px;
  margin-top: -60px;
}

.login-form-container {
  width: 100%;
}

.login-form-item {
  width: 100%;
}

.login-form-item .ant-input-outlined {
  border-color: var(--primary);
  border-radius: 18px;
  height: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

input::placeholder,
.login-form-item .ant-input-outlined {
  color: #324587 !important;
  font-size: 16px;
}

.login-title {
  font-weight: 700;
}

.redirect-link {
  color: var(--primary);
  font-weight: 700;
}

.redirect-link:hover {
  color: var(--primary);
  text-decoration: underline;
}

.login-button,
.login-sec-button {
  background: linear-gradient(to bottom, #324587, #0c1121);
  color: white;
  font-weight: 700;
  padding: 12px 42px;
  font-size: 16px;
  height: auto;
  border-radius: 1000px;
  transition: background 0.3s ease, filter 0.3s ease;
}

.login-button:hover {
  background: linear-gradient(to bottom, #324587, #0c1121) !important;
  filter: brightness(1.5);
}

.login-sec-button:hover {
  background-color: var(--primary) !important;
  color: white;
  border: 1px solid var(--primary);
}

.login-sec-button {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.boas-vindas-content {
  padding-left: 58px;
  padding-right: 58px;
  margin-top: -60px;
}

.splash-screen {
  transition: opacity 0.5s ease;
  opacity: 1;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}
.splash-fade-out {
  opacity: 0;
  pointer-events: none;
}

@media (min-width: 640px) {
  .image-header {
    position: absolute;
    background-image: url("/images/fundo-login-desktop.svg");
    height: 65vh;
  }

  .login-content {
    padding-bottom: 6rem;
    margin-top: 0;
    height: 100vh;
    justify-content: end;
  }

  .login-form-container {
    width: 22rem;
  }

  .boas-vindas-content {
    padding-bottom: 14rem;
    margin-top: 0;
    height: 100vh;
    justify-content: end;
  }
}
